<?php  ?>

<div class="wrapper">

    <h2>About <div class="mainlogo">PopLocker</div></h2>
    <br>
    <img src="/poplocker/html/images/bannerwelcome.png" alt="Welcome to poplocker" class="rounded img-fluid">
    <!-- <img src="images/bannerwelcome.png" alt="Welcome to poplocker" class="rounded img-fluid"> -->
<br><br>
    <p class="text-center">Poplocker features some of the latest and hard to find Funko Pop figures available!</p>
    <p class="text-center">Check out our inventory daily as products are added every day!</p>
    
    
    <?php  ?>  