<?php  ?>

<h2>Your Shopping Cart</h2>
<br><img src="/poplocker/html/images/poplockerlogo.png" alt="poplocker logo" class="rounded img-fluid">
<br><br>
<p class="text-center">Please use this form to update your shopping cart. You may change the quantities, move items to your wish list for future purchasing, or remove items entirely. The shipping and handling cost is based upon the order total.</p>
<form action="/poplocker/html/cart.php" method="POST">
<table border="0" cellspacing="8" cellpadding="6">
	<tr>
		<th align="center">Item</th>
		<th align="center">Quantity</th>
		<th align="right">Price</th>
		<th align="right">Subtotal</th>
		<th align="center">Options</th>
	</tr>
<?php // Display the products:

// Initialize the total:
$total = 0;

// Fetch each product:
while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
	
	// Get the correct price:

	$price = $row['price'];
	
	// Calculate the subtotal:
	$subtotal = $price * $row['quantity'];
	
	// Print out a table row:
	echo '<tr><td>' . $row['title'] . ' | ' . $row['category'] . '</td>
		<td align="center"><input type="text" name="quantity[' . $row['id'] . ']" value="' . $row['quantity'] . '" size="2" class="small" /></td>
		<td align="right">$' . $price . '</td>
		<td align="right">$' . number_format($subtotal, 2) . '</td>
		<td align="right"><a href="/poplocker/html/cart.php?id=' . $row['id'] . '&action=remove"><button type="button" class="btn btn-primary btn-sm">Remove from Cart</button></a></td>
	</tr>
	';
	
	// Check the stock status:
	if ($row['stock'] < $row['quantity']) {
		echo '<tr class="error"><td colspan="5" align="center" class="text-danger">Only ' . $row['stock'] . ' left in stock of the ' . $row['title'] . '. Please update the quantity or remove the item entirely.</td></tr>';
	}

	// Add the subtotal to the total:
  	$total += $subtotal;

} // End of WHILE loop. 

// Add the shipping:
$shipping = get_shipping($total);
$total += $shipping;
echo '<tr>
	<td colspan="3" align="right"><strong>Shipping &amp; Handling</strong></td>
	<td align="right">$' . number_format($shipping, 2) . '</td>
	<td>&nbsp;</td>
</tr>
';

// Display the total:
echo '<tr>
	<td colspan="3" align="right"><strong>Total</strong></td>
	<td align="right">$' . number_format($total, 2) . '</td>
	<td>&nbsp;</td>
</tr>
';

echo '</table><br /><p align="center"><button type="submit"  class="btn btn-primary btn-lg" value="Update Quantities">Update Quantities</button></form></p><br /><p align="center"><a href="#" class="button"><button type="button" class="btn btn-primary btn-lg">Checkout</button></a></p>';

?>