<?php
//echo BOX_BEGIN;

//echo '<h2>Welcome to <div class="mainlogo">PopLocker!</div></h2>

echo '<br><img src="/poplocker/html/images/bannerwelcome.png" alt="Welcome to poplocker" class="rounded img-fluid">
<br>
<br>

<!-- Description under banner -->
<p class="text-center">Home to all of your Funko Pop Figure wants and needs! Check out our store catalog with over 30 collectibles! Come shop till you Pop! </p>
</div>';

echo '<div class="wrapper">';

// Check for sales!

// If records are returned, include the view:

if (mysqli_num_rows($r) > 0) {
	
	echo '
	<dl class="special fright">
		<dt>Featured Items</dt>
		<div class="row">';

	 //Fetch each item:
   while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
  

		echo '<div class="col-sm d-flex">
			<div class="card card-body flex-fill" style="width: 18rem;">
				<div class="card-header">
					<span>' . $row['title'] . '</span>				  
				</div>	
			<img class="card-img-top" src="/poplocker/html/images/' . $row['image'] . '" alt="Card image cap">
				<div class="card-body">
					<p class="card-text"><span>' . get_price($row['price']) . '</span></p>
					<p class="card-text"><span>'. $row['description'] .'</span></p>
					<a href="/poplocker/html/cart.php?id=' .$row['id']. '&action=add"  class="btn btn-primary">add to cart</a>
				</div></div>
			</div>';
}
	
	echo '</div>
			</dl>';
} // End of mysqli_num_rows() IF.

