<?php
//echo BOX_BEGIN;

echo '
<div class="container my-5">


<h2 class="text-center">Home</h2>

<!-- Description under banner -->
<p class="text-center">Home to all of your Funko Pop Figure wants and needs! Check out our store catalog with over 30 collectibles! Come shop till you Pop! </p>
</div>';

echo '
 <!-- featured items -->
<div class="container">
<h3>
	Featured Items:
</h3>
';

// Check for sales!

// If records are returned, include the view:

if (mysqli_num_rows($r) > 0) {
	
	echo '
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

';


	 //Fetch each item:
   while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
  

		echo '
			<div class="col">
				<div class="card h-100 text-bg-secondary">
					<div class="card-body">
						<h5 class="card-title">
							<span>' . $row['title'] . '</span>
						</h5>
						<img class="card-img-top" src="/poplocker/html/images/' . $row['image'] . '" alt="Image of ' . $row['title'] . '">
						<p class="card-text"><span>' . get_price($row['price']) . '</span></p>
						<p class="card-text"><span>'. $row['description'] .'</span></p>
					</div>
					<div class="card-footer text-end">
						<a href="/poplocker/html/cart.php?id=' .$row['id']. '&action=add" class="btn btn-primary">add to cart</a>
					</div>
				</div>
			</div>
			';
		}
		
		echo '
	</div>
		</div>';
} // End of mysqli_num_rows() IF.