<?php 
// Only display the header once:
$header = false; 

include('./includes/product_functions.inc.php');

// Loop through the results:
while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {

	// If the header hasn't been shown, create it:
	if (!$header) {

		echo '<h2 class="text-center my-5">' . $catid . ' Products</h2>';

		echo '<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">			';

		// The header has now been shown:
		$header = true;

	} // End of $header IF.

	// Show each product:
		echo '
		<div class="col">
			<div class="card h-100 text-bg-secondary">
				<div class="card-body">
					<h5 class="card-title">
						<span>' . $row['title'] . '</span>
					</h5>
					<img class="card-img-top" src="/poplocker/html/images/' . $row['image'] . '" alt="Image of ' . $row['title'] . '">
					<p class="card-text"><span>' . get_price($row['price']) . '</span></p>
					<p class="card-text"><span>'. $row['description'] .'</span></p>
				</div>
				<div class="card-footer text-end">
					<a href="/poplocker/html/cart.php?id=' .$row['id']. '&action=add" class="btn btn-primary">add to cart</a>
				</div>
			</div>
		</div>
			';
} // End of WHILE loop.
















