<?php 
// Only display the header once:
$header = false; 

include('./includes/product_functions.inc.php');

// Loop through the results:
while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {

	// If the header hasn't been shown, create it:
	if (!$header) {

		echo '<h2>' . $catid . ' Products</h2>';
echo '<br><img src="/poplocker/html/images/poplockerlogo.png" alt="poplocker logo" class="rounded img-fluid">
<br><br>';
		echo '<p><br clear="all" /></p>';
		echo '<div class="row">';

		// The header has now been shown:
		$header = true;

	} // End of $header IF.
	// Show each product:
		echo '<div class="col-sm d-flex">
			<div class="card card-body flex-fill" style="width: 18rem;">
				<div class="card-header">
					<span>' . $row['title'] . '</span>				  
				</div>	
			<img class="card-img-top" src="/poplocker/html/images/' . $row['image'] . '" alt="Card image cap">
				<div class="card-body">
					<p class="card-text"><span>' . get_price($row['price']) . '</span></p>
					<p class="card-text"><span>'. $row['description'] .'</span></p>


					<a href="/poplocker/html/cart.php?id=' .$row['id']. '&action=add"  class="btn btn-primary">add to cart</a>
				</div></div>
			</div>';
} // End of WHILE loop.


echo '</div><p> <br clear="all" /></p>';














