.mainLogo{
    font-family: 'Righteous', cursive;
}
table{
    margin: 0 auto;
}
#content{
    width:80%;
    margin: 0 auto;
}

/* Navigation Styling */
.nav-link + .navbar-brand{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav-link:hover {
    color: #0d6efd;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.card-img-top {
    margin: 0 auto;
}

